/.gradle/**
/.idea/**
/build/**
build.gradle
/build/*
/build/tmp/compileJava/*
build/tmp/compileJava/previous-compilation-data.bin
.vscode/
build/
/.idea/*
.idea/
/.idea/
.bin/
bin/
Users/
Users/*
Users/**
/Users/
/Users/*
/Users/**
./Users/
./Users/*
./Users/**
Users/users.csv
./Users/users.csv
.gradle/**
.idea/**